extends ../layout.pug

block content 
    video(src=`/${video.videoUrl}`, width=500, controls) 
    div 
        p=video.description
        small=video.createdAt
    div 
        small Upload by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name} 
    br
    if(loggedInUser)
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;  
