mixin loginUserAvatarXs(user)
    if user.avatarUrl 
        img(src=`/${user.avatarUrl}`).profile__avatar--xs
    else
        if user.profileColor === "blue"
            span.profile__avatar__default--xs.profile--blue=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "green"
            span.profile__avatar__default--xs.profile--green=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "purple"
            span.profile__avatar__default--xs.profile--purple=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "orange"
            span.profile__avatar__default--xs.profile--orange=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "brown"
            span.profile__avatar__default--xs.profile--brown=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`

mixin loginUserAvatarM(user)
    if user.avatarUrl 
        img(src=`/${user.avatarUrl}`).profile__avatar--m
    else
        if user.profileColor === "blue"
            span.profile__avatar__default--m.profile--blue=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "green"
            span.profile__avatar__default--m.profile--green=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "purple"
            span.profile__avatar__default--m.profile--purple=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "orange"
            span.profile__avatar__default--m.profile--orange=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "brown"
            span.profile__avatar__default--m.profile--brown=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`

mixin loginUserAvatarL(user)
    if user.avatarUrl 
        img(src=`/${user.avatarUrl}`).profile__avatar--L
    else
        if user.profileColor === "blue"
            span.profile__avatar__default--L.profile--blue=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "green"
            span.profile__avatar__default--L.profile--green=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "purple"
            span.profile__avatar__default--L.profile--purple=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "orange"
            span.profile__avatar__default--L.profile--orange=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "brown"
            span.profile__avatar__default--L.profile--brown=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`            

mixin videoOwnerAvatarL(user)
    a(href=`/users/${user.owner._id}`) 
        if user.owner.avatarUrl 
            img(src=`/${user.owner.avatarUrl}`).profile__avatar--L
        else
            if user.owner.profileColor === "blue"
                span.profile__avatar__default--L.profile--blue=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "green"
                span.profile__avatar__default--L.profile--green=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "purple"
                span.profile__avatar__default--L.profile--purple=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "orange"
                span.profile__avatar__default--L.profile--orange=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "brown"
                span.profile__avatar__default--L.profile--brown=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`

mixin videoOwnerAvatarS(user)
    a(href=`/users/${user.owner._id}`) 
        if user.owner.avatarUrl 
            img(src=`/${user.owner.avatarUrl}`).profile__avatar--s
        else
            if user.owner.profileColor === "blue"
                span.profile__avatar__default--s.profile--blue=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "green"
                span.profile__avatar__default--s.profile--green=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "purple"
                span.profile__avatar__default--s.profile--purple=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "orange"
                span.profile__avatar__default--s.profile--orange=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
            if user.owner.profileColor === "brown"
                span.profile__avatar__default--s.profile--brown=`${(user.owner.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`

mixin watchProfileAvatar(user)
    if user.avatarUrl 
        img(src=`/${user.avatarUrl}`).profile__avatar
    else
        if user.profileColor === "blue"
            span.profile__avatar__default.profile--blue=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "green"
            span.profile__avatar__default.profile--green=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "purple"
            span.profile__avatar__default.profile--purple=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "orange"
            span.profile__avatar__default.profile--orange=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`
        if user.profileColor === "brown"
            span.profile__avatar__default.profile--brown=`${(user.name).match(/^[a-zA-Z]|[ㄱ-ㅎ가-힣]{2}/)}`