mixin commentMixin(comment)
    div.comment(data-id = comment._id)
        div.comment-user
            i.fa-solid.fa-circle-user
        div.comment-text
            div.comment-info
                span.comment-info__user=comment.name
                span#commentTime.comment-info__createdAt=comment.createdAt
                if loggedInUser
                    if (String(loggedInUser._id) === String(comment.owner))
                        div#settingBtn
                            button#changeBtn.fa-solid.fa-pen
                            button#removeBtn.fa-solid.fa-trash-can
            div.comment-textarea
                span=comment.text
            div.comment-btn
                div.comment-btn__like
                    i.fa-regular.fa-thumbs-up
                    if comment.like > 0
                        span=comment.like
                div.comment-btn__dislike
                    i.fa-regular.fa-thumbs-down
                    if comment.disLike > 0
                        span=comment.disLike
                button.comment-btn__reply 답글