include ./avatar.pug

mixin commentMixin(comment)
    div.comment(data-id = comment._id)
        div.comment-user
            +loginUserAvatarM(loggedInUser)
        div.comment-text
            div.comment-info
                span.comment-info__user=comment.name
                span#commentTime.comment-info__createdAt=comment.createdAt
                if loggedInUser
                    if (String(loggedInUser._id) === String(comment.owner))
                        div#settingBtn
                            button#changeBtn.fa-solid.fa-pen
                            button#removeBtn.fa-solid.fa-trash-can
            div.comment-textarea
                span=comment.text
            div.comment-btn
                div.comment-btn__like
                    if loggedInUser
                        if (String(loggedInUser._id )=== String(comment.likeUser.filter(x => String(x) === String(loggedInUser._id))))
                            button#likeBtn.fa-solid.fa-thumbs-up.clickBtn(data-clicked = "true")
                        else 
                            button#likeBtn.fa-regular.fa-thumbs-up(data-clicked = "false")
                    else
                        a(href="/login")  
                            button#likeBtn.fa-regular.fa-thumbs-up(data-clicked = "false")
                    if comment.like > 0
                        span=comment.like
                div.comment-btn__dislike
                    if loggedInUser
                        if (String(loggedInUser._id )=== String(comment.disLikeUser.filter(x => String(x) === String(loggedInUser._id))))
                            button#disLikeBtn.fa-solid.fa-thumbs-down.clickBtn(data-clicked = "true")
                        else 
                            button#disLikeBtn.fa-regular.fa-thumbs-down(data-clicked = "false")
                    else
                        a(href="/login")  
                            button#disLikeBtn.fa-regular.fa-thumbs-down(data-clicked = "false")
                    if comment.disLike > 0
                        span=comment.disLike
                button.comment-btn__reply 답글