mixin videoMixin(video)
    div.video__thumbnail
        if(video.thumbnailUrl)
            a(href=`/videos/${video.id}`)
                div.thumbnail(style=`background-image:url(/${video.thumbnailUrl})`) 
        else
            a(href=`/videos/${video.id}`) 
                video(src=`/${video.videoUrl}`, width="320px").content__video
    hgroup.video__info
        div.video__owner
            i.fa-solid.fa-circle-user
        div.video__text
            div.video__title 
                a(href=`/videos/${video.id}`) 
                    h1.video__title--h1=video.title
                button.video__btn
                    i.fa-solid.fa-ellipsis-vertical
            div.video__meta
                div.video__owner-name 
                    span=video.owner.username
                div.video__meta__info 
                    span.video__meta__views=`조회수 ${video.meta.views}회 `
                    div.meta__block
                    span#videoTime.video__meta__time=`${video.createdAt}`
